Repository ProDvizhenieChatBot/dvizhenie-chat-widget: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier -w"],
  "*.{json,md,css}": ["prettier -w"]
}

test: allow CI to pass with no tests (passWithNoTests)
  vitest.config.ts
Due: eslint --fix, prettier -w

feat: improve project setup and documentation
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .npmrc
  README.md
  package.json
Due: prettier -w

feat: added main widget sceleton
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/ChatWidget.css
  src/components/ChatWidget.tsx
  src/config/chatSteps.ts
  src/hooks/useChatFlow.ts
  src/index.ts
  src/types/chat.ts
Due: eslint --fix, prettier -w

feat: added chatbot
  src/App.tsx
  src/components/ChatWidget.css
  src/components/ChatWidget.tsx
  src/config/chatSteps.ts
  src/hooks/useChatFlow.ts
  src/main.tsx
  src/types/chat.ts
Due: eslint --fix, prettier -w

fix: refactored code
  src/components/ChatWidget.tsx
  src/main.tsx
  src/types/chat.ts
Due: eslint --fix, prettier -w

add deploy configs
  Dockerfile
  Makefile
  nginx.conf
Due: none

fix: исправлен полноэкранный режим для Telegram WebApp
  src/components/Widget/index.tsx
  src/components/Widget/styles.module.css
  src/components/WidgetWindow/styles.module.css
  src/index.css
Due: eslint --fix, prettier -w

feat: добавлена функциональность работы с файлами в чат-виджете
  src/components/FileDropdown/index.tsx
  src/components/FileDropdown/styles.module.css
  src/components/FileMessage/index.tsx
  src/components/FileMessage/styles.module.css
  src/components/Message/index.tsx
  src/components/Message/styles.module.css
  src/components/MessagesList/index.tsx
  src/components/WidgetInput/index.tsx
  src/components/WidgetInput/styles.module.css
  src/components/WidgetWindow/index.tsx
  src/index.ts
  src/types/chat.ts
Due: eslint --fix, prettier -w

fix: исправлены CSS линтер ошибки (порядок свойств и селекторов)
  src/components/FileDropdown/styles.module.css
  src/components/FileMessage/styles.module.css
Due: prettier -w

feat: implement voice input with SaluteSpeech API
  .gitignore
  VOICE_SETUP.md
  src/components/VoiceButton/index.tsx
  src/components/VoiceButton/styles.module.css
  src/components/Widget/index.tsx
  src/components/WidgetInput/index.tsx
  src/components/WidgetWindow/index.tsx
  src/hooks/useVoiceInput.ts
  src/hooks/useVoiceRecording.ts
  src/init.ts
  src/services/saluteSpeech.ts
Due: eslint --fix, prettier -w

feat: update buttons
  src/components/Message/index.tsx
  src/components/MessagesList/index.tsx
  src/components/WidgetWindow/index.tsx
  src/utils/scenario.json
Due: eslint --fix, prettier -w

fix: resolve CSS linting errors in VoiceButton styles
  src/components/VoiceButton/styles.module.css
Due: prettier -w

feat: add GitHub Pages deployment
  .github/workflows/deploy.yml
  README.md
  package.json
  vite.config.ts
Due: eslint --fix, prettier -w

fix: simplify GitHub Pages deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: add proper permissions for GitHub Pages deployment
  .github/workflows/deploy.yml
Due: none

deploy: cb05e42faf128fc91ba8c66d1ef92280ff6cabaf
  .nojekyll
  CNAME
  assets/index-6cQ1oafD.css
  assets/index-CiNYdrw8.js
  assets/index-CiNYdrw8.js.map
  bot_icon.svg
  index.html
  prodvizhenie_icon.svg
Due: eslint --fix, prettier -w

Revert "fix: add proper permissions for GitHub Pages deployment"
  .github/workflows/deploy.yml
Due: none

Revert "fix: simplify GitHub Pages deployment workflow"
  .github/workflows/deploy.yml
Due: none

remove: GitHub Pages deployment workflow
  .github/workflows/deploy.yml
Due: none

feat: start to integrate api
  eslint.config.js
  src/components/DynamicField/index.tsx
  src/components/DynamicField/styles.module.css
  src/components/DynamicWidgetWindow/index.tsx
  src/components/Widget/index.tsx
  src/hooks/useDynamicForm.ts
  src/services/api.ts
Due: eslint --fix, prettier -w

fix: small refactoring
  src/components/WidgetWindow/index.tsx
  src/hooks/useDynamicForm.ts
  src/services/api.ts
Due: eslint --fix, prettier -w

feat: more integration
  src/components/DynamicField/index.tsx
  src/components/DynamicField/styles.module.css
  src/components/DynamicWidgetWindow/index.tsx
  src/hooks/useDynamicForm.ts
  src/services/api.ts
  src/theme/colors.css
  src/types/form.ts
  src/utils/platform.ts
Due: eslint --fix, prettier -w

feat: api update
  src/services/api.ts
Due: eslint --fix, prettier -w

feat: update
  src/components/DynamicWidgetWindow/index.tsx
Due: eslint --fix, prettier -w

feat: more updates
  src/components/DynamicWidgetWindow/index.tsx
  src/services/api.ts
Due: eslint --fix, prettier -w

feat: more updates
  src/components/DynamicWidgetWindow/index.tsx
  src/hooks/useDynamicForm.ts
  src/services/api.ts
Due: eslint --fix, prettier -w

fix: fixed build
  README.md
  src/components/DynamicField/index.tsx
  src/components/DynamicField/styles.module.css
  src/components/Widget/index.tsx
  vite.config.ts
Due: eslint --fix, prettier -w

fix: file update
  src/components/DynamicWidgetWindow/index.tsx
  src/services/api.ts
Due: eslint --fix, prettier -w

fix: build
  src/components/DynamicField/styles.module.css
  src/theme/colors.css
Due: prettier -w

feat: refactored
  src/components/DynamicWidgetWindow/index.tsx
  src/components/FileMessage/styles.module.css
  src/components/MessagesList/index.tsx
  src/components/WidgetWindow/index.tsx
  src/components/WidgetWindow/styles.module.css
  src/hooks/useDynamicForm.ts
  src/hooks/useScenario.ts
  src/index.css
  src/services/api.ts
Due: eslint --fix, prettier -w

fix: more updates
  src/components/DynamicWidgetWindow/index.tsx
  src/components/MessagesList/index.tsx
Due: eslint --fix, prettier -w

feat: updates
  src/components/DynamicWidgetWindow/index.tsx
  src/components/MessagesList/index.tsx
Due: eslint --fix, prettier -w

feat: РЅР°СЃС‚СЂРѕРµРЅР° РґРµРјРѕ-СЃР±РѕСЂРєР° РґР»СЏ dev-РІРµС‚РєРё
  Dockerfile
  package.json
  vite.config.ts
Due: eslint --fix, prettier -w
